################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/SpesteraEngine_Server
/SpesteraEngine_Server/x64/Release
/SpesteraEngine_Server/x64/Debug
/SpesteraEngine_GameServer/x64
/SpesteraEngine_DatabaseServer/x64/Release
/readme
/SpesteraEngine_WebServer/obj
/SpesteraEngine_WebServer/bin/Release/net8.0
/SpesteraEngine_WorldServer/x64/Release
/.vs
/out/build/x64-Debug
/SpesteraEngine_WebServer/bin/Debug/net8.0
/x64/Debug
/.editorconfig
/SpesteraEngine_DatabaseServer/x64/Debug
/SpesteraEngine_WorldServer/x64/Debug
/SpesteraEngine_ZoneServer/x64/Debug/Spestera.ba104c7f.tlog
/SpesteraEngine_WebServer/bin/Debug/net6.0
/SpesteraEngine_WebServer/Migrations
