################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/SpesteraEngine_Server
/SpesteraEngine_Server/x64/Release
/SpesteraEngine_Server/x64/Debug
